{{extend 'layout.html'}}

{{block head}}
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBf-IjT8bV8XgVG_xl2B6U6DZA58l1GICI"></script>
<script defer src="{{=URL('static', 'js/gmaps.js')}}"></script>
<script defer src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="https://cdn.jsdelivr.net/emojione/2.2.6/lib/js/emojione.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.6/assets/css/emojione.min.css"/>
<script>
    var my_url = "{{=URL('api', 'my_method', hmac_key=session.hmac_key)}}";
    var getMarkerUrl = "{{=URL('api', 'getmarkers', hmac_key=session.hmac_key)}}";
    var addEventUrl = "{{=URL('api', 'addevent', hmac_key=session.hmac_key)}}";
    var feedbackUrl = "{{=URL('api', 'confirm', hmac_key=session.hmac_key)}}";
    var checkLoginUrl = "{{=URL('api', 'checklogin', hmac_key=session.hmac_key)}}";
    var litEventsUrl = "{{=URL('api', 'litevents', hmac_key=session.hmac_key)}}";
</script>
<link rel="stylesheet" href="{{URL('static', 'css/bootstrap-datetimepicker.min.css')}}"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.6/assets/css/emojione.min.css"/>
<script defer src="{{=URL('static', 'js/moment.js')}}"></script>
<script defer src="{{=URL('static', 'js/bootstrap-datetimepicker.min.js')}}"></script>

{{end}}

<div class="main_content">
    <div id="vue-div" class="row display:none">

        <div id="event_watch" class="col-xs-4" v-if="page=='event_watch'" >
            <button class="add_event" v-on:click="add_event_form()" v-bind:class="{disabled: !islogged}" >
                <i class="fa fa-plus-square-o" aria-hidden="true"> Add Event</i>
            </button>

            <div class="panel panel-primary">
                <div class="panel-heading">Lit Events</div>
                <div class="panel-body">
                    <ol type="1">
                <li v-for="event in hotevents">${event.title}</li>
                    </ol>
                </div>
            </div>
        </div>


        <div id="event_add" class="col-xs-4" v-if="page=='event_add'">
            <form>

                <div class="form-group">
                    <input v-model="addr" type="text" class="form-control" placeholder="address">
                </div>

                <div class="form-group">
                    <input v-model="title" type="text" class="form-control" placeholder="event title">
                </div>
                <div class="form-group">
                    <textarea v-model="desc" type="text" class="form-control" placeholder="event description"></textarea>
                </div>

                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>

                <button type="submit" v-on:click.prevent="add_event_marker(addr, title, desc)" class="btn
                btn-default"
                v-bind:class="{disabled: !islogged}">PostMarker</button>

            </form>

        </div>

        <div id="map" class="col-xs-7">
        </div>
    </div>
</div>



<script defer src="{{=URL('static', 'js/default_index.js')}}"></script>
