{{extend 'layout.html'}}

{{block head}}
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBf-IjT8bV8XgVG_xl2B6U6DZA58l1GICI"></script>
<script defer src="{{=URL('static', 'js/gmaps.js')}}"></script>
<script defer src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="https://cdn.jsdelivr.net/emojione/2.2.6/lib/js/emojione.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.6/assets/css/emojione.min.css"/>
<script>
    var my_url = "{{=URL('api', 'my_method', hmac_key=session.hmac_key)}}";
    var getMarkerUrl = "{{=URL('api', 'getmarkers', hmac_key=session.hmac_key)}}";
    var addEventUrl = "{{=URL('api', 'addevent', hmac_key=session.hmac_key)}}";
    var feedbackUrl = "{{=URL('api', 'confirm', hmac_key=session.hmac_key)}}";
    var checkLoginUrl = "{{=URL('api', 'checklogin', hmac_key=session.hmac_key)}}";
    var litEventsUrl = "{{=URL('api', 'litevents', hmac_key=session.hmac_key)}}";
</script>
<link rel="stylesheet" href="{{URL('static', 'css/bootstrap-datetimepicker.min.css')}}"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.6/assets/css/emojione.min.css"/>
<script defer src="{{=URL('static', 'js/moment.js')}}"></script>
<script defer src="{{=URL('static', 'js/bootstrap-datetimepicker.min.js')}}"></script>

{{end}}

<div class="main_content">
    <div id="vue-div" style="display: none">
        <div id="event_watch" class="col-xs-4" v-if="page=='event_watch'" >
            <button class="add_event" v-on:click="add_event_form()" v-bind:class="{disabled: !islogged}" >
                <i class="fa fa-plus-square-o" aria-hidden="true"> Add Event</i>
            </button>

            <div class="panel panel-primary">
                <div class="panel-heading">Lit Events</div>
                <div class="panel-body">
                    <ol type="1">
                        <li v-for="event in hotevents">${event.title}</li>
                    </ol>
                </div>
            </div>
        </div>

        <div id="event_add" class="col-xs-4" v-if="page=='event_add'">
            <div class="panel panel-primary">
                <div class="panel-heading">Create An Event</div>
                <form class="panel-body">
                    <div class="form-group">
                        <label for="address">Enter Address</label>
                        <input v-model="addr" type="text" class="form-control"
                               v-bind:disabled="usingMapMarker"
                               placeholder="address" id="address">
                    </div>

                    <div class="form-group">
                        <label for="checkbox">Or: Use a
                            Map Marker</label>
                        <input type="checkbox" v-model="usingMapMarker" id="checkbox">
                    </div>
                    <div v-if="markerError" class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" v-on:click="markerError = false" aria-label="Close">
                            <i class="fa fa-close fa-lg"
                               aria-hidden="true"></i></button>
                        <strong>Warning!</strong> You have not chosen a marker for this!
                    </div>
                    <div v-if="addressError" class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" v-on:click="addressError = false" aria-label="Close">
                            <i class="fa fa-close fa-lg"
                               aria-hidden="true"></i></button>
                        <strong>Warning!</strong> Your Address Search returned No results!
                    </div>



                    <div class="form-group">
                        <label for="title">Enter an event title</label>
                        <input id="title" v-model="title" type="text" class="form-control" placeholder="event title">
                    </div>

                    <div class="form-group">
                        <label for="fblink">Enter Facebook event link</label>
                        <input id="fblink" v-model="fblink" type="url" class="form-control" placeholder="event FB URL">
                    </div>

                    <div class="form-group">
                        <label for="description">Enter an event description</label>
                        <textarea v-model="desc" rows="6" id="description" type="text" class="form-control"
                                  placeholder="event description"></textarea>
                    </div>

                    <div class="form-group">

                        <label for="datetimepicker1">Enter a time the event occurs, from now until 15 days in
                            future</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                            <script type="application/javascript">
                                $(function () {
                                    $('#datetimepicker1').datetimepicker({
                                        //don't let them set times less than right now
                                        minDate: moment(),
                                        //don't plan ahead too much, either, that's bad
                                        maxDate: moment().add(15, 'days')
                                    });
                                });
                            </script>
                        </div>
                    </div>

                    <button type="submit" v-on:click.prevent="add_event_marker(addr, title, fblink, desc)" class="btn
                btn-primary"
                            v-bind:disabled="!islogged">Submit Event</button>
                    <button class="watch_event" v-on:click="watch_event_button()" >
                            <i class="fa fa-eye" aria-hidden="true">Watch Events</i>
                    </button>
                    <div v-if="inputError" class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" v-on:click="inputError = false" aria-label="Close">
                            <i class="fa fa-close fa-lg"
                               aria-hidden="true"></i></button>
                        <strong>Warning!</strong> There are errors with your input!
                    </div>


                </form>

            </div>

        </div>

        <div id="map" class="col-xs-7">
        </div>
    </div>
</div>



<script defer src="{{=URL('static', 'js/default_index.js')}}"></script>
